.portfolio .portfolio-content{
  margin: 1.5rem 0;
}
.portfolio .portfolio-content img{
  width: 80%;
  border-radius: 15px;
}
.portfolio .portfolio-content .img{
  padding: 0 2rem;
  display: flex;
}
.portfolio .portfolio-content .img , .portfolio .portfolio-content .portfolio-details{
  flex: 50%;
} 
.portfolio .portfolio-content .contentBlock{
  margin: auto;
}
.portfolio .portfolio-content.reverse{
  flex-direction: row-reverse;
}
@media (max-width:768px) {
  .portfolio .portfolio-content img{
    margin: 1.2rem auto;
    width: 100%;
    padding: 0;
  }
  .portfolio .portfolio-content , .portfolio .portfolio-content.reverse{
    flex-direction: column;
    margin: 3rem 0;
  }
}